.highlights {
    padding: 1em 5%;
}

.high-heading {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    padding-bottom: 2em;
}

.feed-swiper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.feed-slide {
    width: 85%;
    margin: 0 auto;
}

.feed-nav-btn-ls,
.feed-nav-btn-rs {
    cursor: pointer;
    position: absolute;
    margin-top: -40px;
}

.feed-nav-btn-ls {
    left: 0;
    top: 200px;
}

.feed-nav-btn-rs {
    right: 0;
    top: 200px;
}


/* SingleimgPost */

.imgpost {
    display: flex;
    flex-direction: column;
}

.post-cover {
    width: 90%;
    margin: 0 auto;
}

.post-cover img {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.share-red {
    padding: 1em 7%;
    display: flex;
    justify-content: space-between;
}

.post-text {
    font-family: "Open Sans";
    text-align: left;
    padding: .5em 5%;
    font-size: 10px;
}

.post-author {
    display: flex;
    padding-left: 5%;
    margin-bottom: 1em;
    align-items: center;
    position: relative;
}

.author-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post-author p {
    font-family: "Open Sans";
    padding-left: 1em;
    color: #4CA9EE;
    font-size: 12px;
    font-weight: 600;
}

.source-img {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 35px;
}

@media(min-width:768px) {
    .highlights {
        padding: 2em 8%;
    }
    .post-cover {
        width: 250px;
        height: 250px;
        grid-column: 1/2;
        grid-row: 1/4;
    }
    .post-cover img {
        width: 100%;
        height: 250px;
    }
    .feed-slide {
        width: 90%;
    }
    .imgpost {
        display: grid;
        grid-template-columns: 50% 40% 10%;
        overflow-y: hidden;
    }
    .post-author {
        grid-column: 2/3;
        height: max-content;
        width: max-content;
        max-width: 100%;
    }
    .post-author p {
        font-size: 15px;
    }
    .author-img {
        width: 25px;
        height: 25px;
        align-self: flex-start;
    }
    .share-red {
        grid-column: 3/4;
        height: max-content;
        padding: 0;
        width: 100%;
        padding-top: .25em;
    }
    .share {
        width: 15px;
    }
    .redirect {
        width: 18px;
    }
    .post-text {
        grid-column: 2/4;
        font-size: 12px;
        max-height: 200px;
        overflow-y: scroll;
    }
    .source-img {
        left: 25.5px;
        top: 15px;
    }
    .feed-nav-btn-ls img,
    .feed-nav-btn-rs img {
        width: 13px;
    }
    .feed-nav-btn-ls,
    .feed-nav-btn-rs {
        top: 155px;
    }
}

@media(min-width:1440px) {
    .high-heading {
        font-size: 32px;
    }
    .post-cover {
        width: 400px;
        height: 400px;
    }
    .post-cover img {
        width: 400px;
        height: 400px;
    }
    .feed-nav-btn-ls img,
    .feed-nav-btn-rs img {
        width: 17px;
    }
    .feed-nav-btn-ls,
    .feed-nav-btn-rs {
        top: 220px;
    }
    .post-author p {
        font-size: 17px;
        padding-right: .25em;
    }
    .author-img {
        width: 47px;
        height: 47px;
    }
    .feed-slide {
        width: 80%;
        height: 450px;
    }
    .post-text {
        font-size: 17px;
    }
    .share-red {
        padding-top: .8em;
    }
    .share {
        width: 23px;
    }
    .redirect {
        width: 27px;
    }
    .source-img {
        top: 32px;
        width: 18px;
        height: 18px;
        left: 52px;
    }
    .post-text {
        min-height: 300px;
    }
    .post-text::-webkit-scrollbar {
        display: none;
    }
}